<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="4.0" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.validator.DISABLE_DEFAULT_BEAN_VALIDATOR</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <context-param>
        <param-name>com.hiska.faces.DISABLED_CONVERT_TO_OUTPUT</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.hiska.faces.MESSAGE_TO_SPAN</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>FacesServlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacesServlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacesServlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>401</error-code>
        <location>/publico/error.xhtml?code=401</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/publico/error.xhtml?code=403</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/publico/error.xhtml?code=404</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/publico/error.xhtml?code=500</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/publico/error.xhtml?code=503</location>
    </error-page>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/publico/login.xhtml</form-login-page>
            <form-error-page>/publico/error.xhtml?code=9999</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>ACCESO_WEB</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>LOGIN</web-resource-name>
            <url-pattern>/publico/home.xhtml</url-pattern>
            <url-pattern>/formulario/*</url-pattern>
            <url-pattern>/registro/*</url-pattern>
            <url-pattern>/operador/*</url-pattern>
            <url-pattern>/empresa/*</url-pattern>
            <url-pattern>/correo/*</url-pattern>
            <url-pattern>/pago/*</url-pattern>
            <url-pattern>/faces/publico/home.xhtml</url-pattern>
            <url-pattern>/faces/formulario/*</url-pattern>
            <url-pattern>/faces/operador/*</url-pattern>
            <url-pattern>/faces/registro/*</url-pattern>
            <url-pattern>/faces/empresa/*</url-pattern>
            <url-pattern>/faces/correo/*</url-pattern>
            <url-pattern>/faces/pago/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ACCESO_WEB</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>LOGOUT</web-resource-name>
            <url-pattern>/publico/login.xhtml</url-pattern>
            <url-pattern>/publico/error.xhtml</url-pattern>
            <url-pattern>/publico/register.xhtml</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
</web-app>
